@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Demonstrate how to interact with JavaScript in Blazor Server .NET 6. - Blazor School
<br />
If you are looking for more Blazor Server tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.