@page "/load-js-on-demand"
@inject IJSRuntime JS
@implements IAsyncDisposable

<h3>LoadJSOnDemand</h3>

@code {
    private Lazy<IJSObjectReference> LoadOnDemandJSInitializer = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LoadOnDemandJSInitializer = new(await JS.InvokeAsync<IJSObjectReference>("import", "./js/loadOnDemand.js"));
            await LoadOnDemandJSInitializer.Value.InvokeVoidAsync("exampleFunction2");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if(LoadOnDemandJSInitializer.IsValueCreated)
        {
            await LoadOnDemandJSInitializer.Value.DisposeAsync();
        }
    }
}
